/* This stylizes the page defaults */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
    background-image: url(elegant-theater-curtain-stockcake.webp);
    animation: slideBackground 120s linear infinite;
background-attachment: fixed;
    background-size: 728px 100vh;

}

/* Supremely slow background animation */
@keyframes slideBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200px 0;
    }
}

/* This stylizes the header area */
.header {
    padding: 15px;
    text-align: center;
}
.header h1 {
    display: block;
    color: white;
    font-size: 2.5rem;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    padding: 20px 40px;
    border-radius: 10px;
    width: fit-content;
    margin: 0 auto;
}

/* This stylizes the main page area */
.main {
    background-color: #f2f2f2;
    padding: 40px 0;
}

/* This stylizes the poster area and poster images */
.thumbnail {
    border: 0px;
    position: relative;
    padding: 20px;
    margin: 20px;
    border-radius: 0;
    background-color:#dddddd;
    opacity: 0.95;
    animation: subtleBounce 90s ease-in-out infinite;
}
.thumbnail img {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 5px;
    border: 2px dashed black;
}

/* This stylizes your "Poster X of Y" text */
.imageInfo {
	color: #959595;
	font-style: italic;
	font-size: x-small;
	float: right;
	padding-right: 5px;
}

/* This stylizes your Title and Rating Text */
.title,
.released {
    color: #444;
    margin: 0;
    font-size: 18px;
    font-weight: 800;
}
.released,
.rated {
    color: #5d5d5d;
    font-size: 14px;
    font-weight: 200;
}

/* This shapes your IMDB score area */
.score {
    background-color: orangered;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: 200;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 80px;
    position: absolute;
    top: 50px;
    right: 25px;
}

/* This contains your like and dislike buttons */
.social {
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative;
    left: -40px;
    top: -20px;
}

/* This shapes your like and dislike buttons */
.likes,
.dislikes {
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    line-height: 40px;
    min-width: 70px;
    height: 40px;
    border-radius: 50%;
    margin: 0 -30px 0 40px;
    text-align: center;
    font-weight: 200;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 500ms;
}

/* This makes sure your Github Button is centered */
.footer {
    text-align: center;
    margin: 80px 0 110px;
}

/* This makes sure your Github Button text is small */
#github{
	font-size: small;
}

.score {
    border-radius: 50%;
}
/* ADD YOUR LIKE AND DISLIKE HOVER/MOUSEOVER CSS CODE HERE */
.likes:hover {
    background-color: rgb(167, 204, 167); /* Green */
    color: white;
}
.dislikes:hover {
    background-color: rgb(117, 0, 0); /* Red */
    color: white;
}

/* Barely noticeable bounce animation for movie boxes */
@keyframes subtleBounce {
    0%, 100% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(3px);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(-3px);
    }
}
